<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Login</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.css"
          crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/angular.js/1.7.5/angular.js"></script>
    <!-- Custom styles for this template -->
    <!--<link href="css/cover.css" rel="stylesheet">-->
    <link rel="stylesheet" href="css/myform.css">

</head>

<body ng-app="myApp">
<div ng-include="'/layout/nav.html'"></div>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    <div class="myform">
        <form class="form-signin" ng-submit="submitForm()" ng-controller="loginController">
            <img class="mb-4" src="favicon.ico" alt="" width="72"
                 height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label class="sr-only">Email address</label>
            <input type="email" id="username" class="form-control" placeholder="Email address"
                   ng-model="myform.username" required autofocus>
            <label class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" ng-model="myform.password"
                   required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" type="submit">Sign in</button>
        </form>
    </div>
    <ng-include src="'/layout/footer.html'"/>
</div>
<script>
    var app = angular.module("myApp", []);
    app.controller('loginController', function ($scope, $http) {
        $scope.submitForm = function () {
            // console.log('enter submitForm');
            $http({
                method: 'post',
                url: '/api/authenticate',
                data: $scope.myform,
                // headers: {
                //     'Content-Type': 'application/json'
                // }
            }).then(function (resp) {
                var token = resp.data.id_token;
                // $http.defaults.headers.common.Authorization = 'Bearer '+ token;
                sessionStorage.Authorization = 'Bearer ' + token;
                // app.config(function($httpProvider) {
                //     $httpProvider.defaults.headers.common["Authorization"] ='Bearer '+ token;
                // });
                window.location.href = '/home.html';
                console.log(resp);
            }, function (resp) {
                alert("用户名或密码错误");
                sessionStorage.Authorization = null;
                // console.log(resp);
            });
        }
    });
</script>
</body>
</html>
