<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
    <a class="navbar-brand" href="/index.html">TeamCode</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orgnazation</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Create Orgnazation</a>
                    <a class="dropdown-item" href="/orgnazation">Management Orgnazation</a>
                    <a class="dropdown-item" href="#">Management Projects</a>
                    <a class="dropdown-item" href="#">Management Staffs</a>
                    <a class="dropdown-item" href="#">Management Team</a>
                </div>
            </li>

            <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="#">Create Projects</a>
                    <a class="dropdown-item" href="#">My Projects</a>
                    <a class="dropdown-item" href="#">Management Projects</a>
                    <a class="dropdown-item" href="#">My Task</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about.html">About Us</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input ng-model="hasaccount" value="false" hidden>
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-lg-0">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;margin-left: 10px">{{account.login||"account"}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <div ng-hide=!hasaccount>
                        <a class="dropdown-item" href="#">Setting</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="/changepassword.html">Password</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                    <div ng-hide=hasaccount>
                        <a class="dropdown-item" href="/login.html">Log In</a>
                        <a class="dropdown-item" href="/register.html">Register</a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</nav>

